/* Kids Style for eXeLearning (see config.xml for details) */
:root {
	--color-anchor: #771F35;
	--color-idevice-inner-anchor: #B85F75;
	--color-header-background:#5ab493;
	--color-header-border:#468770;
	--color-header-content: #cff0e5;
	--color-body:#333;
	--color-background-body:#aee7d3;
	--color-header-h1:#cff0e5;
	--color-idevice-header:#60c29e;
	--color-idevice-background:#7ca2d7;
	--color-idevice-title:#FFF;
	--color-idevice-inner-border: #60c29e;
	--color-idevice-inner-background:#f9fffc;
	--color-enlarge-icon:#468770;
	--color-submit-button:#444;
	--color-submit-button-background:#f1f1f1;
	--color-submit-button-gradient-1:#f6f6f6;
	--color-submit-button-gradient-2:#eaeaea;
	--color-submit-button-border-1:#cfcfcf;
	--color-submit-button-border-2: #b5b5b5;
	--color-submit-button-boxshadow-1:rgba(255, 255, 255, 0.2);
	--color-submit-button-boxshadow-2:rgba(0, 0, 0, 0.5);
	--color-submit-button-textshadow:rgba(255, 255, 255, 0.75);
	--color-hint-border:#EEE;
	--color-hint-background:#f9f9f9;
	--color-feedback-background:#fff6db;
	--color-feedback-border:#ffe38e;
	--color-site-footer:#aee7d3;
	--color-download-package:#468770;
	--color-download-hover:#000;
	--color-download-hover-background:#e9c34f;
	--color-effect:#FFF;
	--color-emphasis:#E7F8F2;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(open-sans.woff2) format('woff2'), url(open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(open-sans-bold.woff2) format('woff2'), url(open-sans-bold.woff) format('woff');
}
html{font-size:105%}
body{font:100%/1.5 'Open Sans',Arial,Verdana,Helvetica,sans-serif;line-height:1.5em;padding:15px;margin:0;text-align:left;color:var(--color-body);background-color:var(--color-background-body)}

h2{font-size:1.3em}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1em}
p{margin:1em 0}
a{color:var(--color-anchor)}
.iDevice_inner a{color:var(--color-idevice-inner-anchor)}
.score.js-feedback{margin-bottom:1em}

#header,#emptyHeader,#nodeDecoration{padding:28px 20px;height:auto!important;height:56px;min-height:56px;line-height:56px;font-size:1.8em;font-weight:700;background-color:var(--color-header-background);border:10px solid var(--color-header-border)}
#headerContent{color:var(--color-header-content)}
#header h1,#nodeDecoration h1{margin:0;font-size:1em;text-align:center;color:var(--color-header-h1)}
#nodeDecoration{margin-bottom:15px} /* Single page */
.nodeDecoration h1{font-size:1.5em}

.exe-single-page #headerContent{padding-top:0}
.exe-single-page .nodeTitle{font-size:1.8em;font-weight:700;margin:1.5em 0}

/* iDevices */
.iDevice{margin:20px 0 30px 0}
.iDevice_header{letter-spacing:.5px;height:auto!important;height:60px;min-height:60px;border:var(--color-idevice-header) solid;border-width:8px 8px 0 8px;padding-left:13px;border-top-left-radius:15px;border-top-right-radius:15px;background:var(--color-idevice-background) url(_style_idevice_header.gif) repeat-x 0 bottom;position:static;background-image:none!important}
.iDeviceTitle{height:auto!important;height:30px;min-height:30px;line-height:30px;font-size:1.3em;vertical-align:bottom;top:auto;display:inline-block;font-weight:700;padding:15px 45px 15px 130px;background-repeat:no-repeat;background-position:0 50%;margin:0;color:var(--color-idevice-title)}
.iDevice_header_noIcon .iDeviceTitle{background-image:none;padding-left:20px}
.iDevice_inner{padding:10px 20px 20px 20px;border:8px solid var(--color-idevice-inner-border);border-bottom-right-radius:15px;border-bottom-left-radius:15px;border-top:0;background-color:var(--color-idevice-inner-background)}

/* Clearfix */
.iDevice_content{overflow:auto}
.FileAttachIdeviceInc .iDevice_content{margin-bottom:-.5em}

/* Hide/Show iDevice */
.toggle-idevice{display:block;margin:0;text-align:right}
.iDevice_header .toggle-idevice{line-height:25px;position:absolute;top:53px;right:8px}
.toggle-idevice a{display:inline-block;width:25px;height:25px;background:url(_style_icons.png) no-repeat 0 -200px;outline:none}
.toggle-em0 a{background-position:0 -300px}
.toggle-idevice .show-idevice{background-position:-100px -200px}
.toggle-em0 .show-idevice{background-position:-100px -300px}

.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}

/* iDevice title with background-color */
input.feedbackbutton{margin:0}
.hidden-idevice .iDevice_header{border-radius:15px;border-width:8px}
.iDevice_header .toggle-idevice{margin-right:15px}

.ExternalUrlIdevice iframe{border:0}

/* Reset base.css */
.block,.feedback{padding:0}
.feedback{font-family:inherit;font-size:1em}
li{list-style-position:outside}
.pre-code{font-size:1.2em}
.styled-qc{margin-top:2.5em}
.styled-qc:before{top:0}
.exe-dl .icon,.exe-dl-toggler a{width:24px;height:24px;border-radius:12px}
.exe-dl-toggler a{line-height:22px}
.js .exe-dl dd{margin-left:44px}
/* Enlarge icon */
.exe-enlarge-icon{width:50px;height:50px;margin:-25px 0 0 -25px;border-radius:25px;background:var(--color-enlarge-icon)}
.exe-enlarge-icon b{width:50px;height:50px;line-height:50px}
.exe-enlarge-icon b{font-size:1.7em}
/* Forms */
input,select{font-size:1em;font-family:inherit}
.iDevice_hint_title a{padding-left:25px}
.MultichoiceIdevice .activity-form,.MultiSelectIdevice .activity-form{margin-bottom:1em}
.TrueFalseIdevice .activity-form{margin-top:1.5em}
.TrueFalseIdevice .activity-form:first-child{margin-top:0}
.TrueFalseIdevice label{margin:0 1em}
.MultichoiceIdevice input,.MultiSelectIdevice input[type=checkbox],.QuizTestIdevice input[type=radio]{width:16px;height:16px;margin:5px 0 0 12px}
.MultiSelectIdevice .feedback.iDevice_content{margin-top:1.5em}
.right-option,.wrong-option{font-style:italic}
.readingIdevice .iDevice_content:first-child p:last-child,
.CasestudyIdevice .iDevice_content:first-child p:last-child{margin-bottom:0}
/* Non-Interactive Activities */
.readingIdevice .feedbackbutton,
.CasestudyIdevice .feedbackbutton,
.ReflectionIdevice .feedbackbutton{margin:.5em 0}
 
/* Submit buttons */
.iDevice_buttons input[type=submit],.iDevice_buttons input[type=button],.iDevice_buttons input[type=reset]{
-moz-border-bottom-colors:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
background-color:var(--color-submit-button-background);
background-image:linear-gradient(to bottom, var(--color-submit-button-gradient-1), var(--color-submit-button-gradient-2));
background-repeat:repeat-x;
border-color:var(--color-submit-button-border-1) var(--color-submit-button-border-1) var(--color-submit-button-border-2);
border-image:none;
border-radius:5px;
border-style:solid;
border-width:1px;
box-shadow:0 1px 0 var(--color-submit-button-boxshadow-1) inset, 0 1px 2px var(--color-submit-button-boxshadow-2);
display:inline-block;
line-height:2em;
font-size:1em;
padding:5px 15px;
color:var(--color-submit-button);
margin-right:.5em;
text-shadow:0 1px 1px var(--color-submit-button-textshadow);
}

/* Hint & Feedback */
.iDevice_hint_content{border-radius:10px;border:1px solid var(--color-hint-border);background:var(--color-hint-background)}
.iDevice_inner .feedback{background:var(--color-feedback-background);border-radius:10px;border:1px solid var(--color-feedback-border);padding:0 1em;margin-top:1em}
.iDevice_inner .iDevice_answer-feedback{background:none;border:none;padding:0;margin:0}
.TrueFalseIdevice .feedback{margin-top:1.5em}   

/* Icons */
.iDeviceTitle{background-image:url(icon_attached.png)}
.ListaIdevice .iDeviceTitle,
.QuizTestIdevice .iDeviceTitle,
.MultichoiceIdevice .iDeviceTitle,
.TrueFalseIdevice .iDeviceTitle,
.MultiSelectIdevice .iDeviceTitle,
.ClozeIdevice .iDeviceTitle{background-image:url(icon_write.png)}
.CasestudyIdevice .iDeviceTitle{background-image:url(icon_tool.png)}
.preknowledgeIdevice .iDeviceTitle{background-image:url(icon_cabinet.png)}
.GalleryIdevice .iDeviceTitle{background-image:url(icon_picture.png)}
.objectivesIdevice .iDeviceTitle{background-image:url(icon_objective.png)}
.ReflectionIdevice .iDeviceTitle{background-image:url(icon_reflection.png)}
.readingIdevice .iDeviceTitle{background-image:url(icon_reading.png)}
.activityIdevice .iDeviceTitle{background-image:url(icon_task.png)}
.WikipediaIdevice .iDeviceTitle{background-image:url(icon_wikipedia.png)}

.js .em_iDevice{position:relative;padding-top:10px}
.icon_wrapper{width:120px;height:120px;background-repeat:no-repeat;position:absolute;top:0;left:20px}
.js .iDevice_inner{padding-top:20px}

#siteFooter{padding:20px;text-align:center;border:1px solid var(--color-site-footer)}

/* Download package iDevice */
.download-packageIdevice .exe-download-package-link a{background:var(--color-download-package)}
.download-packageIdevice .exe-download-package-link a:hover,.download-packageIdevice .exe-download-package-link a:focus{background:var(--color-download-hover-background);color:var(--color-download-hover)}

/* Lightbox */
.pp_overlay{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)!important;opacity:1!important}

/* Effects */
.exe-fx .fx-C2,.exe-fx .fx-C2 a,.fx-pagination a{background:var(--color-effect)}
.exe-fx .fx-C1,.exe-fx .fx-C1 a{background:#468770;color:var(--color-effect)}
/* iDevices with emphasis */
.emphasis1 .exe-fx .fx-C1,.emphasis1 .exe-fx .fx-C1 a{background: var(--color-download-package);}
.js .exe-fx .fx-accordion-title,.js .exe-fx.exe-accordion h2{background:var(--color-download-package)}
.emphasis1 .exe-fx .fx-C2,.emphasis1 .exe-fx .fx-C2 a,.emphasis1 .fx-pagination a{background:var(--color-emphasis)}
/* Licenses */
#packageLicense{font-size:.85em}

@media print {
    div.node{page-break-after:auto} /* base.css */
    html body{background:#fff;color:var(--color-download-hover);font-size:11pt}
	@page{margin:1.5cm}
	/* Uncomment this to print URL after links:
	a{font-weight:bold;text-decoration:none!important}
	a[href^=http]:after{content:" <" attr(href) "> "}
	*/
	.iDevice{margin-bottom:20px}	
	#main .iDeviceTitle{background:none;padding-left:0}
	.iDevice_header{border-width:1px 1px 0 1px}
	.iDevice_inner{border-width:0 1px 1px 1px}
	.icon_wrapper{display:none}	
	#header h1,#nodeDecoration h1{text-align:left}
	body #header,body #emptyHeader,body #nodeDecoration{height:auto!important;min-height:0;border:none;padding:0}
	.toggle-idevice{display:none}
}