@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
  
  
  
  #logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
  }
  
  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    padding-top: 50px;
  }
  
  section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 600px;
  }
  
  h1,
  h2 {
    font-family: Verdana, Tahoma;
  }
  
  h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0px;
    padding-top: 20px;
  }
  
  .info {
    padding: 10px 0 0 5px;
  }
  
  .formrow {
    margin-top: 30px;
    padding: 0px 15px;
  }
  
  input {
    font-size: 16px;
    width:100%;
    height: 30px;
  }
  
  .info label, .info input {
    display: inline-block;
    text-align: right;
  }
  
  .info input {
    width: 50%;
    text-align: left;
    width:100%;
  }
  
  .info label {
    width: 10%;
    min-width: 55px;
  }
  
  .question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
  }
  
  p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
  }
  
  button {
    display: block;
    margin: 40px auto;
    width: 100%;
    padding: 15px;
    font-size: 23px;
    color: var(--color-darkblue);
    background: var(--color-lightgray);
    border: 3px solid var(--color-darkblue);
  }
  
  footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
  }
  
  footer,
  footer a {
    color: #dfdfe2;
  }
  
  address {
    text-align: center;
    padding: 0.3em;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  @media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
:root {
    --color-yellow: rgb(252, 227, 121);
    --color-lightgray: rgb(179, 183, 192);
    --color-darkblue: rgb(34, 44, 70);
    --color-darkgray: rgb(94, 94, 97);
    --color-blue: rgb(106, 156, 218);
    --color-mediumblue: rgb(58, 103, 197);
    --color-brown: rgb(179, 160, 105);
    --color-logo: #ffd600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-darkblue);
  margin: 0;
}
  
/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-lightgray);
  background-image:
      linear-gradient(
          rgba(252, 227, 121, 0.4),
          rgba(179, 183, 192, 0.4)
      ),
      url(images/con_nombre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
header {
  width: 100%;
  height: 80px;
  background-color: var(--color-darkblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
  
#logo {
  width: max(100px, 18vw);
  background-color: var(--color-darkblue);
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}
  
.container {
  width: 80%;
  margin: 3.125rem auto 0 auto;
  border-radius: 5px;
  background-color: rgba(34, 44, 70, 0.95);
  color:white;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

h1 {
  color: var(--color-logo);
  font-size: min(5vw, 1.2em);
  text-align: center;
  margin: 0 10%;
  text-decoration: none;
}

h1 a {
  color: var(--color-logo);
  font-size: min(5vw, 1.2em);
  text-align: center;
  margin: 0 10%;
  text-decoration: none;
}

h1 > a:hover {
  color: var(--color-logo);
  font-size: min(5vw, 1.2em);
  text-align: center;
  margin: 0 10%;
  text-decoration: none;
}
  
nav {
  width: 70%;
  max-width: 500px;
  height: 50px;
}
  
nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height:100%;
}
  
nav > ul > li {
  color: var(--color-lightgray);
  margin: 0 0.1rem;
  padding: 0.1rem;
  display: block;
  font-family: Verdana, Tahoma;
  font-size: 0.9rem;
}
  
nav > ul > li:hover {
  background-color: var(--color-lightgray);
  color: var(--color-darkblue);
  cursor: pointer;
}
  
li > a {
  color: inherit;
  text-decoration: none;
}
  
main {
  padding-top: 50px;
}
  
  
h1,
h2 {
  font-family: Verdana, Tahoma;
}
  
h2 {
  border-bottom: 4px solid var(--color-lightgray);
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

img {
  width: 100%;
  margin-top: 20px;
}
.img {
  width:20%;
  margin: 0 auto;
}

p {
  margin-top: 20px;
  padding-left: 30px;
  font-size: 18px;
  padding-right: 20px;
}
  
footer {
  background-color: var(--color-darkblue);
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: var(--color-lightgray);
}

address {
  text-align: center;
  padding: 0.3em;
}

textarea {
  width:100%;
}

select {
  width:100%;
  height: 30px;
}