:root {
  --color-blue: #00beef;
  --color-orange: orangered;
  --color-dark-blue: rgb(20, 30, 40);
  --color-light: linen;
  --color-alpha-gray: rgba(120, 120, 120, 0.6);
  --color-alpha-blue: rgba(0, 190, 239,0.4);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Baskervville', serif;
  color: var(--color-light);
  background-color: var(--color-dark-blue);
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid var(--color-alpha-gray);
}

.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.text {
  grid-column: 2 / 3;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
  margin-bottom: 3rem
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}

.hero-title {
  text-align: center;
  color: var(--color-orange);
  font-size: 8rem;
}

.hero-subtitle {
  font-size: 2.4rem;
  color: var(--color-orange);
  text-align: center;
}

.author {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.publish-date {
  color: var(--color-alpha-gray);
}

.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

.first-paragraph::first-letter {
  font-size: 6rem;
  color: var(--color-orange);
  float: left;
  margin-right: 1rem;
}

.quote {
  color: var(--color-blue);
  font-size: 2.4rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}

.text-with-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.lists {
  list-style-type: none;
  margin-top: 2rem;
}

.lists li {
  margin-bottom: 1.5rem;
}

.list-title, .list-subtitle {
  color: var(--color-blue);
}

.image-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  place-items: center;
}

.image-1, .image-3 {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 720px) {
  .image-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .text-with-images {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .hero-title {
    font-size: 6rem;
  }
  
  .hero-subtitle,
  .author,
  .quote,
  .list-title {
    font-size: 1.8rem;
  }
  
  .social-icons {
    font-size: 2rem;
  }

  .text {
    font-size: 1.6rem;
  } 
}

@media only screen and (max-width: 420px) {
  .hero-title {
    font-size: 4.5rem;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.long {
  display: grid;
  grid-template-columns: 3fr 0fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.dual {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

/*CHAT*/
/* Chat containers */
.container-email {
  border: 2px solid var(--color-alpha-gray);
  background-color: var(--color-light);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: var(--color-dark-blue);
  font-weight: bold;
  font-size: small;
}

/* Darker chat container */
.darker {
  border-color: var(--color-alpha-gray);
  background-color: var(--color-blue);
}

/* Clear floats */
.container-email::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container-email img {
  float: right;
  max-width: 60px;
  width: 100%;
  margin-left: 20px;
}

/* Style the left image */
.container-email img.left {
  float: left;
  margin-right: 20px;
  margin-left:0;
}

/* Style time text */
.time-right {
  float: right;
  font-weight: normal;
  font-size: x-small;
}

/* Style time text */
.time-left {
  float: left;
  font-weight: normal;
  font-size: x-small;
}
/*END CHAT*/

.container {
  width:100%;
  padding-left: 30px;
  background-color: var(--color-alpha-blue);
  border-radius: 90% 10% 90% 10% / 10% 90% 10% 90% ;
}

.container i {
  color: var(--color-blue);

}